/* Reset some styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F4E2E2; /* Light dusty pink */
    color: #2C2C2C; /* Dark gray text */
    font-family: 'Raleway', Tahoma, sans-serif;
}

/* Navbar Styles */
.navbar {
    background-color: #996E6D; /* Dusty pink */
    color: #FFF;
    padding: 15px;
}

.navbar-item {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.navbar-item.is-active {
    border-bottom: 2px solid #BC8887; /* Slightly lighter dusty pink */
}

/* Hero Section Styles */
.hero {
    background-image: linear-gradient(rgba(153, 110, 109, 0.65), rgba(153, 110, 109, 0.65)),
                      url("./../image/patriarta.gif"); /* Change background image */
    color: white;
}

.hero .title {
    font-family: 'Rouge Script', sans-serif;
    font-weight: 700;
    transform: rotate(-2deg);
    font-size: 5rem;
    padding-bottom: 5px;
    color: whitesmoke;
}

.hero .subtitle {
    padding: 35px;
    color: whitesmoke;
    font-size: 1.3rem;
}

.hero .hero-foot {
    background: white;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.082);
}

/* Countdown Section Styles */
ul#hitungmundur {
    background-color: #BC8887; /* Slightly lighter dusty pink */
    color: white;
    padding: 20px;
}

ul#hitungmundur li span {
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
}

ul#hitungmundur li.separator {
    font-size: 30px;
    line-height: 25px;
    vertical-align: top;
}

ul#hitungmundur li p {
    color: #fff;
    font-size: 16px;
}

/* Other Section Styles */
.section-dark,
.section-light {
    padding: 80px 40px;
    color: #000;
}

.section-dark.resume button {
    border: 2px solid #BC8887; /* Slightly lighter dusty pink */
    background: white;
    color: #BC8887;
}

.section-dark.my-work .work-item:hover {
    -webkit-transform: scale(1.055) translateY(-2px);
    transform: scale(1.055) translateY(-2px);
    -webkit-box-shadow: 0 2px 25px 0 rgba(30, 30, 30, 0.1);
    box-shadow: 0 2px 25px 0 rgba(30, 30, 30, 0.1);
}

/* Button Styles */
.btn-whatsapp,
.btn-cta {
    background-color: #6cc751; /* Light green */
    color: white;
}

.btn-whatsapp:hover,
.btn-cta:hover {
    background-color: #59a543; /* Slightly darker green */
    transition: all .2s ease-in-out;
}

/* Scroll To Top Button Styles */
#toTop {
    background-color: #996E6D; /* Dusty pink */
    color: white;
}

#toTop:hover {
    background-color: #BC8887; /* Slightly lighter dusty pink */
}
